/*quote background image for homepage*/
#tolkien {
    font-family: Book Antiqua;
    color: #000026;
    margin: 0px;
    padding: 20px;
    font-size: 28px;
    background-image: url(Home_pic.jpg);
    background-repeat: no-repeat;
    width:screen;
    height:275px;
    display: block;
    text-align: center;
}

#homepic {
    display: block;
    text-align: left;
}


/*********about page grid layout***************/

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr 2fr;
    grid-gap: 10px;
    height:100vh;
}

nav {
    grid-column: 1/2;
    grid-row: 1/2;
}



main {
    grid-column: 1/2;
    grid-row: 2/3;
}


#footer {
    grid-column: 1/2;
    grid-row: 3/4;
}

#info {
    display: flex;
    justify-content: center;
}
#copyright {
    display: flex;
    justify-content: center;
}



/**********responsive css for mobile navigation screens*******/

@media all and (max-width: 872px) {

#wrapper {
        display: grid;
        height: 100vh;
     }

#hamburger {
        display: block;
        width: 26px;
        float: left;
        font-size: 2em;
    }

  
blockquote {
    font-size: 18px;
}

br {
    display: none;
}

#footer {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 14px; 
}

#info {
    display: flex;
    justify-content: center;
}
#copyright {
    display: flex;
    justify-content: center;
}
}
