@font-face {
    font-family: Roboto;
    src: url("Roboto/Roboto-Regular.ttf");
}

.favicon {
    height:16px;
    width: 16px;
}



h1{color:#8B5041;} 



body {
    display: flex;
    flex-flow: column;
    background-color: #e8a48d62;
}


h2 {
    color:#00010D;
    font-family: Book Antiqua;
}

h3 {
    color:#00010D;
    font-style: italic;
    font-family: Book Antiqua;
}

p {
    font-family: Roboto;
}

.stmt {
    color:#00010D;
    text-align: left;
}

/*big first letter and indent*/
.stmt .p1::first-letter {
    font-size: 50px;
    font-family: Brush Script MT;
}

.stmt .p1 {
    text-indent: 0%;
}

.stmt p {
    text-indent: 2%;
}

/*end of big first letter and indent*/


#footer {
    font-family: Book Antiqua;
    align-self: center;
    color: #fffced;
}

/*used hover to enlarge the icons for phone and mail within the footer*/
.icon {
    display: block;
    height: 16px;
    width: 16px;
}

.icon:hover {
    height: 24px;
    width: 24px;
}

/*placed an image for the footer background*/
footer {
    width: 100%;
    height: 100px;
    padding:0;
    margin:0;
    background-image: url(footerpic.jpg);
    background-repeat: no-repeat;
}

#info {
    display: flex;
    justify-content: center;
}
#copyright {
    display: flex;
    justify-content: center;
}



/*change in layout for printing purposes*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
    }

    nav {
        display: none;
    }

    @page {
        margin: 1in;
    }
}