/*simple formatting image sizes and stuff*/


h3 {
    text-decoration: none;
    border: 3px solid #8B5041;
    padding: 5px;
    color: #8b5041;
}

/*expandable text sections*/


input {
    display:none;
}


.projectTitle {
    display: block;
    text-decoration: none;
    font-style: italic;
    font-size: larger;
    border: 3px solid #8B5041;
    padding: 5px;
    color: black;
}



/*project link formatting*/
#VODlink {
    text-decoration: none;
    border: 5px solid #8B5041;
    padding: 5px;
    background:beige;
    color: #8b5041;
    margin: auto;
    width:200px;
    display:flex;
    justify-content: center;
    
    
}

#VODlink:hover {
    background-color:tan;
}

#Motherlink {
    text-decoration: none;
    border: 5px solid #8B5041;
    padding: 5px;
    background:beige;
    color: #8b5041;
    width:200px;
    display:flex;
    justify-content: center;
    margin: auto;
}

#Motherlink:hover {
    background-color:tan;
}

#Summerlink {
    text-decoration: none;
    border: 5px solid #8B5041;
    padding: 5px;
    background:beige;
    color: #8b5041;
    width:200px;
    display:flex;
    justify-content: center;
    margin: auto;
}

#Summerlink:hover {
    background-color:tan;
}


/*image formatting*/
#VODpic {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;

}

#Giannapic {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
}

#Summerpic {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
}






/*********project page grid layout***************/

#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 2fr;
    grid-gap: 10px;
    height: 1100px; 
    
   
  
}

nav {
    grid-column: 1/2;
    grid-row: 1/2;
}

header {
    grid-column: 1/2;
    grid-row: 2/3;
}



main {
    grid-column: 1/2;
    grid-row: 3/4;
    
}











/*footer positioning*/
#footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 4/5;
}

#info {
    display: flex;
    justify-content: center;
}

#copyright {
    display: flex;
    justify-content: center;
}



/**********responsive css for mobile navigation screens*******/

@media all and (max-width: 872px) {

#wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 5fr 20fr 5fr 1fr 1fr 1fr;
        grid-gap: 10px; 
     }

#hamburger {
        display: block;
        width: 26px;
        float: left;
        font-size: 2em;
    }

nav {
    display: none;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
}

.projectTitle {
    display:block;
    position: relative;
    text-decoration: none;
    font-style: italic;
    font-size: larger;
    border: 3px solid #8B5041;
    padding: 5px;
    color: black;
    cursor: pointer;
    text-indent: 3%;
    
}


/*creates and places the dropdown triangle shape*/
.projectTitle:before {
    position: absolute;
    content: " ";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    height: 0;
    font-size: 0;
    left:7px;
    bottom: 9px;
    transition: 0.5s;
    transform-origin: 3px;
}

/*tells it to hide and show when clicked*/
input:checked ~ label:before {
    transform: rotate(90deg);  
}

input:checked ~ div {
    padding: 10px;
    display:block;
    height: auto;

}

.projectinfo {
    height: 0;
    overflow: hidden;
}



}